.biobox{
  display: flex;
  flex-direction: row;
  border: solid 5px black;
  height: 300px;
  width: 66%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.picturebox{
  display: flex;
  flex-direction: row;
  border: solid 5px black;
  margin: auto;
  margin-top: 20px;
  height: 100px;
  width: 100px;

}

.link {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 150px;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}

.linkbox {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  margin: 20px 0;
}

.projectmenu {
  margin: 0 40px;
}
  
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.searchbar {
  width: 25%;
  margin-left: auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid 5px black;
  margin: 80px auto 0;
  width: 66%;
}

.projectbuttons {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}